:root {
    --app-background-color: #eceff1;

    --header-background-color: #1a2026;
    --toggle-box-background-color: #27323e;
    --toggle-box-border-color: #000;
    --toggle-box-line-color: #eceff1;
    --toggle-theme-icon-color: #fff;
    
    --link-menu-color: #fff;
    
    --font-title-primary-color: #1a2026;
    --font-title-secondary-color: #5c6b89;
    --font-text-color: #5c6b89;

    --border-profile-img: #fff;
    --button-border-color: #1a2026;
    --button-text-color: #1a2026;
    --text-assent-color: #66d866;

    --about-icon-color: #1a2026;

    --sub-heading-drop-line-color: #d2dde3;

    --icon-svg-color: invert(7%) sepia(4%) saturate(5060%) hue-rotate(170deg) brightness(94%) contrast(87%);

    --progress-bar-background-color: #eceff1;
    --progress-bar-border-color: #d2dde3;
    --progress-bar-loaded-color: #1a2026;

    --input-text-background-color: #eceff1;
    --input-text-border-color: #1a2026;
    --input-text-text-color: #5c6b89;
    --textarea-background-color: #eceff1;
    --textarea-border-color: #1a2026;
    --textarea-text-color: #5c6b89; 

    --alert-default-background-color: #f5f8fc;
    --alert-default-border-color: #62a0eb;
    --alert-default-text-color: #62a0eb; 

    --footer-background-color: #27323e;
    --footer-text-color: #fff;
    --footer-icon-color: #fff;
}

[theme="dark"] {
    --app-background-color: #091a28;
}