/**
 * =================================================================================
 * COLORS - DEFAULT
 * =================================================================================
 */

:root {
    /*========== APP ==========*/
    --app-background-color: #eceff1;
    /*========== WINDOW ==========*/
    --window-overlay-color: rgba(42, 42, 42, .4);
    /*========== SIDEBAR ==========*/
    --sidebar-background-color: #1a2026;
    --sidebar-top-drop-line-color: #101419;
    --close-box-background-color: #27323e;
    --close-box-border-color: #000;
    --close-box-line-color: #eceff1;
    /*========== HEADER ==========*/
    --header-background-color: #1a2026;
    --toggle-box-background-color: #27323e;
    --toggle-box-border-color: #000;
    --toggle-box-line-color: #eceff1;
    --toggle-theme-icon-color: #fff;
    /*========== LINK ==========*/
    --link-menu-color: #fff;
    --hover-link-menu-color: #3569a8;
    /*========== TYPOGRAPHY ==========*/
    --text-title-primary-color: #1a2026;
    --text-title-secondary-color: #5c6b89;
    --text-color: #5c6b89;
    /*========== PRESENTATION ==========*/
    --border-profile-img: #fff;
    --button-border-color: #1a2026;
    --button-text-color: #1a2026;
    --button-hover-background-color: #4c7ebb;
    --button-hover-border-color: #16375f;
    --button-hover-text-color: #144a8d;
    --text-assent-color: #66d866;
    /*========== ABOUT ==========*/
    --about-icon-color: #1a2026;
    --about-hover-icon-color: #253241;
    /*========== SKILLS ==========*/
    --sub-heading-drop-line-color: #d2dde3;
    --icon-svg-color: invert(7%) sepia(4%) saturate(5060%) hue-rotate(170deg) brightness(94%) contrast(87%);
    --progress-bar-background-color: #eceff1;
    --progress-bar-border-color: #d2dde3;
    --progress-bar-loaded-color: #1a2026;
    /*========== CONTACT ==========*/
    --input-text-background-color: #eceff1;
    --input-text-border-color: #1a2026;
    --input-text-text-color: #5c6b89;
    --textarea-background-color: #eceff1;
    --textarea-border-color: #1a2026;
    --textarea-text-color: #5c6b89;
    --contact-icon-color: #1a2026;
    /*========== ALERTS ==========*/
    --alert-default-background-color: #f5f8fc;
    --alert-default-border-color: #62a0eb;
    --alert-default-text-color: #62a0eb;
    --alert-danger-background-color: #fef2f2;
    --alert-danger-border-color: #ff6a66;
    --alert-danger-text-color: #ff6a66;
    --alert-success-background-color: #fafdfb;
    --alert-success-border-color: #4ade82;
    --alert-success-text-color: #4ade82;
    /*========== FOOTER ==========*/
    --footer-background-color: #1d242d;
    --footer-text-color: #fff;
    --footer-icon-color: #fff;
    --footer-hover-icon-color: #d3dbe2;
}

/**
 * =================================================================================
 * COLORS - DARK
 * =================================================================================
 */

[theme="dark"] {
    /*========== APP ==========*/
    --app-background-color: #272f37;
    /*========== WINDOW ==========*/
    --window-overlay-color: rgba(42, 42, 42, .4);
    /*========== SIDEBAR ==========*/
    --sidebar-background-color: #1a2026;
    --sidebar-top-drop-line-color: #101419;
    --close-box-background-color: #27323e;
    --close-box-border-color: #000;
    --close-box-line-color: #eceff1;
    /*========== HEADER ==========*/
    --header-background-color: #1a2026;
    --toggle-box-background-color: #27323e;
    --toggle-box-border-color: #000;
    --toggle-box-line-color: #eceff1;
    --toggle-theme-icon-color: #fff;
    /*========== LINK ==========*/
    --link-menu-color: #fff;
    --hover-link-menu-color: #62a0eb;
    /*========== TYPOGRAPHY ==========*/
    --text-title-primary-color: #4596ec;
    --text-title-secondary-color: #d6dde4;
    --text-color: #d6dde4;
    /*========== PRESENTATION ==========*/
    --border-profile-img: #1a2026;
    --button-border-color: #1a2026;
    --button-text-color: #4596ec;
    --button-hover-background-color: #527eb4;
    --button-hover-border-color: #16375f;
    --button-hover-text-color: #1a4477;
    --text-assent-color: #66d866;
    /*========== ABOUT ==========*/
    --about-icon-color: #4596ec;
    --about-hover-icon-color: #77b1ef;
    /*========== SKILLS ==========*/
    --sub-heading-drop-line-color: #475460;
    --icon-svg-color: invert(38%) sepia(54%) saturate(900%) hue-rotate(174deg) brightness(97%) contrast(91%);
    --progress-bar-background-color: #272f37;
    --progress-bar-border-color: #475460;
    --progress-bar-loaded-color: #1a2026;
    /*========== CONTACT ==========*/
    --input-text-background-color: #283038;
    --input-text-border-color: #475460;
    --input-text-text-color: #a1afbd;
    --textarea-background-color: #283038;
    --textarea-border-color: #475460;
    --textarea-text-color: #a1afbd;
    --contact-icon-color: #4596ec;
    /*========== ALERTS ==========*/
    --alert-default-background-color: #232930;
    --alert-default-border-color: #62a0eb;
    --alert-default-text-color: #62a0eb;
    --alert-danger-background-color: #232930;
    --alert-danger-border-color: #ff6a66;
    --alert-danger-text-color: #ff6a66;
    --alert-success-background-color: #232930;
    --alert-success-border-color: #4ade82;
    --alert-success-text-color: #4ade82;
    /*========== FOOTER ==========*/
    --footer-background-color: #1d242d;
    --footer-text-color: #fff;
    --footer-icon-color: #fff;
    --footer-hover-icon-color: #d3dbe2;
}