/**
 * =================================================================================
 * FONTS
 * =================================================================================
 */

:root {
    --font-cascadia-code: 'Cascadia Code', serif;
    --font-open-sans: 'Open Sans', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
}