@import './../css/reset.css';
@import './../css/cascadia-code.css';
@import './colors.scss';
@import './global.scss';

*,
*::before,
*::after {
    -webkit-tap-highlight-color: transparent !important;
    box-sizing: border-box !important;
    text-rendering: optimizeLegibility !important;
}

body {
    background: var(--app-background-color);
}

main#app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    align-items: center;
    background: var(--header-background-color);
    box-shadow: var(--header-box-shadow);
    display: flex;
    margin: 0 0 60px 0;
    min-height: 60px;
    width: 100%;

    &-container {
        align-items: center;
        display: flex;
        margin: 0 auto;
        min-height: 60px;
        padding: 0 10px 0 10px;
        width: 100%;
    }

    &__toggle-box {
        align-items: center;
        background: var(--toggle-box-background-color);
        border: 1px solid var(--toggle-box-border-color);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: 40px;
        justify-content: center;
        row-gap: 5px;
        width: 40px;

        &__line {
            background: var(--toggle-box-line-color);
            display: block;
            height: 2px;
            width: 25px;
        }
    }

    &__logo {
        display: none;
    }

    &__nav {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: end;
        width: 100%;

        &__menu {
            display: none;
        }

        &__theme-switch {
            align-items: center;
            cursor: pointer;
            display: flex;
            height: 30px;
            justify-content: center;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            width: 30px;

            &__icon {
                color: var(--toggle-theme-icon-color);
                font-size: 21px;
            }
        }
    }
}

.footer {
    background: var(--footer-background-color);
    font-family: var(--font-cascadia-code);
    margin-top: auto;

    &__nav {
        display: flex;
        flex-direction: column;
        margin: 44px 0 40px 0;
        padding: 0 10px 0 10px;

        &__title {
            display: flex;
            flex-direction: column;
            height: 70px;
            justify-content: center;

            &__heading {
                color: var(--footer-text-color);
                font-size: 35px;
                font-weight: 600;
            }

            &__description {
                color: var(--footer-text-color);
                font-size: 18px;
                font-weight: 400;
                margin: 6px 0 0 0;
            }
        }

        &__menu {
            display: flex;
            flex-direction: column;
            margin: 30px 0 30px 0;
            row-gap: 18px;

            &__link {
                color: var(--link-menu-color);
                font-size: 17px;
                font-weight: 300;
                text-decoration: none;
                text-transform: uppercase;
            }
        }

        &__socials {
            column-gap: 10px;
            display: flex;

            &__item {
                align-items: center;
                display: flex;
                font-size: 26px;
                height: 36px;
                justify-content: center;
                width: 36px;

                &__link {
                    color: var(--footer-icon-color);
                    text-decoration: none;
                }
            }
        }
    }

    &__copy {
        line-height: 1.2;
        padding: 10px 10px 10px 10px;
        text-align: center;

        &__text {
            color: var(--footer-text-color);
            font-size: 14px;
            font-weight: 100;
        }
    }
}

@media screen and (min-width: 480px) {
    .header {
        &__toggle-box {
            margin: 0 15px 0 0;
        }

        &__logo {
            background: url(../img/logo.svg) center no-repeat;
            background-size: contain;
            display: block;
            height: 26px;
            text-indent: -99999px;
            width: 208px;
        }
    }
}

@media screen and (min-width: 696px) {
    .header {
        &-container {
            padding: 0 30px 0 30px;
        }

        &__toggle-box {
            display: none;
        }

        &__nav {
            &__menu {
                column-gap: 22px;
                display: flex;
                margin: 0 18px 0 0;

                &__link {
                    color: var(--link-menu-color);
                    font-family: var(--font-cascadia-code);
                    font-size: 15px;
                    font-weight: 300;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }

        &__copy {
            padding: 10px 30px 10px 30px;
        }
    }
}

@media screen and (min-width: 768px) {
    .footer {
        &__nav {
            align-items: center;
            flex-direction: row;
            height: 100%;
            margin: 20px 0 40px 0;
            padding: 0 30px 0 30px;

            &__title {
                height: 100%;
            }

            &__menu {
                align-items: center;
                flex: 1;
                margin: 20px 0 20px 0;
                width: 100%;
            }

            &__socials {
                justify-content: center;
                width: 200px;
            }
        }
    }
}

@media screen and (min-width: 980px) {
    .header {
        &-container {
            max-width: 1200px;
            padding: 0 30px 0 30px;
        }
    }
}