@import './../css/reset.css';
@import './../css/cascadia-code.css';
@import './colors.scss';
@import './global.scss';

*,
*::before,
*::after {
    -webkit-tap-highlight-color: transparent !important;
    box-sizing: border-box !important;
    text-rendering: optimizeLegibility !important;
}

body {
    background: var(--app-background-color);
}

main#app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    align-items: center;
    background: var(--header-background-color);
    box-shadow: var(--header-box-shadow);
    display: flex;
    min-height: 60px;
    padding: 0 10px 0 10px;

    &__toggle-box {
        align-items: center;
        background: var(--toggle-box-background-color);
        border: 1px solid var(--toggle-box-border-color);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: 40px;
        justify-content: center;
        row-gap: 5px;
        width: 40px;

        &-line {
            background: var(--toggle-box-line-color);
            display: block;
            height: 2px;
            width: 25px;
        }
    }

    &__logo {
        display: none;
    }

    &__nav {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: end;
        width: 100%;

        &__menu {
            display: none;
        }

        &__theme-switch {
            align-items: center;
            cursor: pointer;
            display: flex;
            height: 30px;
            justify-content: center;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            width: 30px;

            &__icon {
                color: var(--toggle-theme-icon-color);
                font-size: 21px;
            }
        }
    }
}

.footer {
    color: blue;
    margin-top: auto;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 0 30px 0 30px;

        &__toggle-box {
            display: none;
        }

        &__logo {
            background: url(../img/logo.svg) center no-repeat;
            background-size: contain;
            display: block;
            height: 26px;
            text-indent: -99999px;
            width: 208px;
        }

        &__nav {
            &__menu {
                column-gap: 22px;
                display: flex;
                margin: 0 18px 0 0;

                &-link {
                    color: var(--link-menu-color);
                    font-family: var(--font-cascadia-code);
                    font-size: 15px;
                    font-weight: 300;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }
    }   
}