@import 'theme-colors';
@import 'cascadia-code';

:root {
    --font-cascadia-code: 'Cascadia Code', serif;
}

*,
*::before,
*::after {
    -webkit-tap-highlight-color: transparent !important;
    box-sizing: border-box !important;
    text-rendering: optimizeLegibility !important;
}

body {
    font-family: var(--font-cascadia-code);
}

.app-container {
    background: var(--app-background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}